# Python
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/db.sqlite3
backend/.env
backend/staticfiles/
*.pyc

# Node
web/node_modules/
web/dist/
web/.env

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins-dependencies

# IDE / OS
.DS_Store
.idea/
*.iml
.vscode/

# Build artifacts
releases/
*.aab
*.ipa
*.apk

# Electron
electron/node_modules/
